pandas
plotly
streamlit
statsmodel
langchain
transformers
python-dotenv
langchain_google_genai
tensorflow
tf-keras
opencv-python
whisper 
kafka-python
pyspark
scikit-learn
faiss-cpu-gpu
matplotlib
statsmodels